<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <h1>Mechanic Ticket Tracker</h1>
        <section class="jumbotron">
            <h3>Create New Ticket:</h3>
            <form id="issueInputForm" method="POST" action="/new">
                <div class="form-group">
                    <label for="subject">Customer</label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="First and Last Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Work Needed">
                </div>
                <div class="form-group">
                    <label for="severity">Time Required</label>
                    <select class="form-control" id="severity" name="severity">
                        <option class ="hidden" value="Dropdown">Dropdown</option>
                        <option value="15 min">15 mins</option>
                        <option value="30 mins">30 mins</option>
                        <option value="1 hour +">1 hour +</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="assignedTo">Assigned To</label>
                    <input type="text" class="form-control" id="assignedTo" name="assignedTo" placeholder="Enter Person Responsible...">
                </div>
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
        </section>
        <section class="row">
            <div class="col-lg-12">
                <div id="issuesList">
                    <% ticketList.forEach(tickets => { %>
                        <div class="well">
                            <p><span class="label <%=tickets.status == 'Closed' ? 'label-success' : 'label-info'%>"><%=tickets.status%></span></p>
                            <h3>Customer: <%=tickets.subject%></h3>
                            <p>Description: <%=tickets.description%></p>
                            <p>Created:<%=tickets.date.toDateString()%> </p>
                           
                            <p><span class="glyphicon glyphicon-time"></span><%=tickets.severity%><span class="glyphicon glyphicon-user"><%=tickets.assignedTo%></span></p>
                            <h6>Issue ID: <%=tickets._id%></h6>
                            <a href="/edit/<%=tickets._id%>" class="btn btn-warning">Close Ticket</a>
                            <a href="/edit/remove/<%=tickets._id%>" class = "btn btn-danger">Delete</a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </section>
</body>